<div class="container">
  <nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 col-md-2">
          <li class="nav-item">
            <a class="nav-link logo" href="#"><img src="../assets/e-commerce.png" alt=""></a>
          </li>
        </ul>
        <form class="d-flex col-md-6" role="search" >
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-search btn-outline-primary" type="submit"><i class="fa fa-search"></i></button>
          <button routerLink="login" type="button login" class="btn btn-outline-secondary "><i class="fa fa-user"></i>Login</button>
          <button routerLink="cart" type="button" class="btn btn-secondary"><i class="fa fa-shopping-basket"></i>Cart</button>
        </form>
      </div>
    </div>
  </nav>
  <hr class="hrr">
  <div class="row">
    <div class="col">
      <div ngbDropdown class="d-inline-block">
        <a  id="dropdownBasic1" ngbDropdownToggle href="#">Electronic</a>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button ngbDropdownItem>Action - 1</button>
          <button ngbDropdownItem>Another Action</button>
          <button ngbDropdownItem>Something else is here</button>
        </div>
      </div>
    </div>
    <div class="col">
      <div ngbDropdown class="d-inline-block">
        <a  id="dropdownBasic1" ngbDropdownToggle href="#">Fashion</a>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button ngbDropdownItem>Action - 1</button>
          <button ngbDropdownItem>Another Action</button>
          <button ngbDropdownItem>Something else is here</button>
        </div>
      </div>
    </div>
    <div class="col">
      <div ngbDropdown class="d-inline-block">
        <a  id="dropdownBasic1" ngbDropdownToggle href="#">Home, Living, Stationery, Office</a>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button ngbDropdownItem>Action - 1</button>
          <button ngbDropdownItem>Another Action</button>
          <button ngbDropdownItem>Something else is here</button>
        </div>
      </div>
    </div>
    <div class="col">
      <div ngbDropdown class="d-inline-block">
        <a  id="dropdownBasic1" ngbDropdownToggle href="#">Auto, Garden, Construction Market</a>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button ngbDropdownItem>Action - 1</button>
          <button ngbDropdownItem>Another Action</button>
          <button ngbDropdownItem>Something else is here</button>
        </div>
      </div>
    </div>
    <div class="col">
      <div ngbDropdown class="d-inline-block">
        <a  id="dropdownBasic1" ngbDropdownToggle href="#">Mom, Baby, Toy</a>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button ngbDropdownItem>Action - 1</button>
          <button ngbDropdownItem>Another Action</button>
          <button ngbDropdownItem>Something else is here</button>
        </div>
      </div>
    </div>
    <div class="col">
      <div ngbDropdown class="d-inline-block">
        <a  id="dropdownBasic1" ngbDropdownToggle href="#">Spor, Outdoor</a>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button ngbDropdownItem>Action - 1</button>
          <button ngbDropdownItem>Another Action</button>
          <button ngbDropdownItem>Something else is here</button>
        </div>
      </div>
    </div>
    <div class="col">
      <div ngbDropdown class="d-inline-block">
        <a  id="dropdownBasic1" ngbDropdownToggle href="#">Cosmetics, Personal Care</a>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button ngbDropdownItem>Action - 1</button>
          <button ngbDropdownItem>Another Action</button>
          <button ngbDropdownItem>Something else is here</button>
        </div>
      </div>
    </div>

  </div>
</div>



