<div class="container">
  <div class="brands">
    <div class="brand">
      <img width="128" height="80" alt="Dyson" title="Dyson" src="https://images.hepsiburada.net/banners/s/0/128-80/featurelist_68_20210928192001.png">
      <p>Dyson</p>
    </div>
    <div class="brand">
      <img width="128" height="80" alt="Karaca" title="Karaca" src="https://images.hepsiburada.net/banners/s/0/128-80/featurelist_68_20220507234248.png">
      <p>Karaca</p>
    </div>
    <div class="brand">
      <img width="128" height="80" alt="Apple" title="Apple" src="https://images.hepsiburada.net/banners/s/0/128-80/featurelist_68_20210107021619.png">
      <p>Apple</p>
    </div>
    <div class="brand">
      <img width="128" height="80" alt="Braun" title="Braun" src="https://images.hepsiburada.net/banners/s/0/128-80/featurelist_68_20210107020730.png">
      <p>Braun</p>
    </div>
    <div class="brand">
      <img width="128" height="80" alt="Hummel" title="Hummel" src="https://images.hepsiburada.net/banners/s/0/128-80/featurelist_68_20210406182753.png">
      <p>Hummel</p>
    </div>
    <div class="brand">
      <img width="128" height="80" alt="Lenovo" title="Lenovo" src="https://images.hepsiburada.net/banners/s/0/128-80/featurelist_68_20210625150249.png">
      <p>Lenovo</p>
    </div>
    <div class="brand">
      <img width="128" height="80" alt="Koton" title="Koton" src="https://images.hepsiburada.net/banners/s/0/128-80/featurelist_68_20210406182924.png">
      <p>Koton</p>
    </div>
    <div class="brand">
      <img width="128" height="80" alt="Samsung" title="Samsung" src="https://images.hepsiburada.net/banners/s/0/128-80/featurelist_68_20211216124000.png">
      <p>Samsung</p>
    </div>
    <div class="brand">
      <img width="128" height="80" alt="Samsung" title="Samsung" src="https://images.hepsiburada.net/banners/s/0/128-80/featurelist_68_20211216124000.png">
      <p>Samsung</p>
    </div>
    <div class="brand">
      <img width="128" height="80" alt="Samsung" title="Samsung" src="https://images.hepsiburada.net/banners/s/0/128-80/featurelist_68_20211216124000.png">
      <p>Samsung</p>
    </div>
    <div class="brand">
      <img width="128" height="80" alt="Samsung" title="Samsung" src="https://images.hepsiburada.net/banners/s/0/128-80/featurelist_68_20211216124000.png">
      <p>Samsung</p>
    </div>
    <div class="brand">
      <img width="128" height="80" alt="Samsung" title="Samsung" src="https://images.hepsiburada.net/banners/s/0/128-80/featurelist_68_20211216124000.png">
      <p>Samsung</p>
    </div>
  </div>
</div>
